data/*
*.db
CEMonteCarlo.egg-info/*
build/*
*.so
ce_updater/ce_updater.py
tests/*.pyc
cemc/*.pyc
cemc.egg-info/*
*.h5
.pytest_cache/*
*.log
*.pkl
subbin.csv
demo.traj
free_energy_barrier.json
__pycache__/*
cemc/__pycache__/*
tests/__pycache__/*
tests/test_data/example_path_relaxed.json
relaxed_path.traj
*.csv
calculator.json
*.vtp
energy_data.json
.nfs000000000495beaf000000a1
*.swp
.nfs000000000495a0fa000003c7
.nfs*
.vscode/*
settings.json
